@import '~tachyons/css/tachyons.min.css';

:root {
  --primary-font: 'Quicksand', sans-serif;
  --primary-color: #2c2929;
  --primary-color-light: #3f3c3c;

  --gray-color: #e7e7e7;
  --gray-color-light: #a7a7a7;
}

body {
  font-family: var(--primary-font);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: var(--primary-color-light);
  border-bottom: 1px solid var(--primary-color-light);
}

a.btn,
button.btn {
  color: #ffffff;
  background-color: var(--primary-color);
}

a.btn:hover,
button.btn:hover {
  background-color: var(--primary-color-light);
}

button.btn[disabled] {
  pointer-events: none;
  background-color: var(--gray-color);
  color: var(--gray-color-light);
}

button.btn {
  cursor: pointer;
  border: none;
}

.list-clear {
  margin: 0;
  padding: 0;
}

.list-inline li {
  display: inline-block;
}

.container {
  max-width: 1400px;
}

.shadow-1 {
  box-shadow: 7px 11px 15px rgba(0, 0, 0, 0.15);
}
